<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -LOOP3</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/image/logo_small.png")">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/63d7753d28.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/product.css">

</head>

<body>
    <header>
        <nav
            class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom d-flex flex-column box-shadow">
            <div class="nav-top d-flex justify-content-between w-100">
                <div class="small-logo mt-2 ms-5"><a href=""><img src="@Url.Content("~/image/logo_small.png")"
                            width="60" alt="small-logo"></a></div>
                <div class="nav-top-group-log ms-5">
                    <ul class="nav-top-group-log-ul list-unstyled d-flex list-group-horizontal-sm me-5">
                        <li class="nav-item mt-2 fw-bold"><a href="#">Help</a></li>
                        <li class="nav-item mt-2 ms-2 fw-bold"><a href="#">Join us</a></li>
                        <li class="nav-item user-group mt-2 me-4 ms-2 fw-bold">@using Microsoft.AspNetCore.Http
                            @inject IHttpContextAccessor HttpContextAccessor

                            @if (HttpContextAccessor.HttpContext.Session.GetString("Username") != null)
                            {
                                <span class="hover-group-user default-text">Hi,
                                    @HttpContextAccessor.HttpContext.Session.GetString("Username")</span>
                                <i class="fa fa-user ms-1 mb-1" aria-hidden="true"></i>
                                <ul class="ul-hover-group">
                                    <li><a href="../user-group">Profile</a></li>
                                    <li> <a class="nav-link text-danger" href="/Account/Logout">Log out</a></li>
                                </ul>
                            }
                            else
                            {

                                <a class="nav-link" href="/Account/Login">Sign in</a>

                            }
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container-fluid mt-2">
                <a class="navbar-brand ms-5" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="@Url.Content("~/image/logo.png")" width="100" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @{
                        var categories = ViewData["Categories"] as List<Shared.Models.Category>;
                    }
                    <ul class="navbar-nav fl    ex-grow-1">
                        @if (categories != null)
                        {
                            @foreach (var category in categories)
                            {
                                <li class="nav-item dropdown fw-bold">
                                    <a class="nav-link text-dark" href="/Product/ByCategory/@category.Id"
                                        id="category-@category.Id" role="button" aria-expanded="false">
                                        @category.Name
                                    </a>
                                    <ul class="dropdown-menu flex-grow-1" aria-labelledby="category-@category.Id">
                                        @if (category.Lines != null && category.Lines.Any())
                                        {
                                            @foreach (var line in category.Lines)
                                            {
                                                <li><a class="dropdown-item"
                                                        href="/Product/ByCategory/@category.Id/@line.Id">@line.Name</a></li>
                                            }
                                        }
                                        else
                                        {
                                            <li><span class="dropdown-item text-muted">No items</span></li>
                                        }
                                    </ul>
                                </li>
                            }

                        }
                    </ul>
                </div>

                <div class="search-cart-group d-flex">
                    <div class="input-group search mb-3 me-3" style="max-width: 250px;">
                        <a href="/Cart"><span class="input-group-text"><i
                                    class="fas fa-search me-1 ms-1"></i></span></a>
                        <input type="text" class="form-control" placeholder="Search.."></a>
                    </div>
                    <div class="cart me-5">
                        <a href="">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <span class="count-cart">2</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid w-100">
        <main role="main" class="pb-5 w-100">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark text-light text-center py-3 mb-0 mt-5">
        <p class="mb-0">&copy; 2025 BuiThach. All Rights Reserved.</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
