@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Shared.Models.Product>

<head>
    <link rel="stylesheet" href="product.css">
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 ms-5"> <!-- Sidebar -->
            <!-- Nội dung bộ lọc -->
            <div class="filer-div me-5 mt-5">
                @await Html.PartialAsync("_Filter")
            </div>
        </div>
        <div class="col-md-8"> <!-- Sản phẩm -->
            <div class="product">
                <h5 class="mb-4 mt-5">
                    @ViewData["Category"]
                    @if (ViewData["LineName"] != null)
                    {
                        <span> - @ViewData["LineName"]</span>
                    }
                </h5>
                <div class="row g-3">
                    @foreach (var product in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card">
                                <img src="@Url.Content("~/image/image_product/" + @product.ImageUrl)"
                                    class="card-img-top resize-image" alt="@product.NameProduct">
                                <div class="card-body">
                                    <p class="card-title fw-bold">@product.NameProduct</p>
                                    <p class="card-text">@product.Price <sup>đ</sup></p>
                                    <div class="group-btn-add-cart w-100 border-top  d-flex justify-content-evenly">
                                        <a href="/Product/Detail/@product.IdProduct" title="Xem chi tiết">
                                            <i class="fa fa-eye fa-2x pt-3" aria-hidden="true"></i>
                                        </a>
                                        <span class="pt-3">|</span>
                                        <i class="fa fa-shopping-bag pt-3 fa-2x" aria-hidden="true"
                                            title="Thêm vào giỏ hàng"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @await Html.PartialAsync("_Pagination", (PaginationModel)ViewBag.Pagination)

            </div>
        </div>
    </div>


</div>
