@model Shared.Models.User

@{
    ViewData["Title"] = "Thông tin tài khoản";
}

<div class="container  d-flex justify-content-center my-5">
    <div class="card p-4 pt-5 shadow rounded-3">
        <h2 class="mb-4">Thông tin tài khoản</h2>
        <p><strong>Họ tên:</strong> @Model.FullName</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Số điện thoại:</strong> @Model.Phone</p>
        <p><strong>Tên đăng nhập:</strong> @Model.Username</p>

        <a class="btn btn-outline-secondary mt-3" asp-controller="User" asp-action="EditProfile"
            asp-route-id="@Model.IdUser">Chỉnh sửa thông tin</a>
        <a class="btn btn-edit mt-5" asp-controller="Address" asp-action="Index">Sổ địa chỉ >></a>

    </div>
</div>
<style>
    .container {}

    .btn-edit {
        width: 150px;
        color: antiquewhite;
        background-color: rgb(53, 110, 148)
    }
</style>